@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Shizuru&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

body {
  
  background-image: url('../img/cachorro-e-gato.png');
  background-repeat: no-repeat;
  height: 2000px;
  background-position: center;
  background-attachment: scroll;
  background-size: 200px;

}

* {
  font-family: 'Roboto', Arial, sans-serif;
}

