/* Outros valores adicionados nas variáveis */

$corPrincipal: blue;
$corPrincipal :Helvetica, sans-serif;
$minhaCor: red;
$tamanhoFonte: 18px;







h1{
  color: $corPrincipal;
}

button {
  background-color: $corPrincipal;
}

